/* line 104, social/*.png */
.social-sprite, .footer .social li.facebook a, .footer .social li.facebook a:hover, .footer .social li.twitter a, .footer .social li.twitter a:hover, .footer .social li.linkedin a, .footer .social li.linkedin a:hover, .footer .social li.dribbble a, .footer .social li.dribbble a:hover {
  background-image: url('../images/social-s8db2d90934.png');
  background-repeat: no-repeat;
}

@font-face {
  font-family: "FoundationIcons";
  src: url('../fonts/foundation-icons.eot?1344586060');
  src: url('../fonts/foundation-icons.eot?&1344586060#iefix') format('embedded-opentype'), url('../fonts/foundation-icons.ttf?1344586060') format('truetype');
  font-weight: normal;
}
/* line 10, ../sass/styles.scss */
body {
  background-color: #f9f8f4;
  color: #473016;
}

/* line 16, ../sass/styles.scss */
.top-bar .name h1 {
  font-family: "ChunkFive", Arial, sans-serif;
  text-transform: uppercase;
}

/* line 22, ../sass/styles.scss */
.button {
  border: 0;
  -moz-box-shadow: 0 0 0 rgba(255, 255, 255, 0) inset;
  -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0) inset;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0) inset;
}

/* line 27, ../sass/styles.scss */
.content {
  margin-top: 1.875em;
  background: #fff;
}
/* line 30, ../sass/styles.scss */
.content .intro {
  padding: 1.25em 0;
  background: #c2bdb7;
  color: #fff;
  margin-bottom: 1.25em;
}
/* line 35, ../sass/styles.scss */
.content .intro .button {
  margin-top: 1.25em;
  background-color: #a8bb26;
  width: 100%;
}
/* line 39, ../sass/styles.scss */
.content .intro .button:hover {
  background-color: #c4d73d;
}

/* line 46, ../sass/styles.scss */
.orbit-container {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0ZjJlYSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-radial-gradient(#ffffff, #f4f2ea);
  background: -webkit-radial-gradient(#ffffff, #f4f2ea);
  background: radial-gradient(#ffffff, #f4f2ea);
}
/* line 48, ../sass/styles.scss */
.orbit-container h3 {
  padding: 1.25em;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 51, ../sass/styles.scss */
.orbit-container h3 + p {
  padding: 1.25em;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  bottom: 1.25em;
}
/* line 58, ../sass/styles.scss */
.orbit-container li {
  padding: 1.25em 2.5em;
}
/* line 60, ../sass/styles.scss */
.orbit-container li:nth-child(1) {
  background: url('../images/desktop.png?1361813776') no-repeat left bottom;
}
/* line 63, ../sass/styles.scss */
.orbit-container li:nth-child(2) {
  background: url('../images/editor.png?1361813982') no-repeat left bottom;
}
/* line 66, ../sass/styles.scss */
.orbit-container li:nth-child(3) {
  background: url('../images/macbook.png?1361814390') no-repeat left bottom;
}
/* line 69, ../sass/styles.scss */
.orbit-container li:nth-child(4) {
  background: url('../images/panel.png?1361814706') no-repeat left bottom;
}
/* line 73, ../sass/styles.scss */
.orbit-container a.orbit-prev, .orbit-container a.orbit-next {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}
/* line 78, ../sass/styles.scss */
.orbit-container:hover a.orbit-prev, .orbit-container:hover .orbit-next {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 82, ../sass/styles.scss */
.orbit-container .orbit-slide-number {
  color: #473016;
}

/* line 87, ../sass/styles.scss */
.home {
  padding-bottom: 1.5625em;
}
/* line 90, ../sass/styles.scss */
.home .feature h4 {
  padding-left: 1.75em;
  position: relative;
}
/* line 95, ../sass/styles.scss */
.home .feature h4:before {
  content: "";
  display: inline-block;
  padding: 0.3125em 0;
  width: 1.75em;
  height: 1.75em;
  position: absolute;
  left: 0;
  bottom: 0.3125em;
  font-family: "FoundationIcons";
  font-size: 1.375em;
}
/* line 107, ../sass/styles.scss */
.home .feature:nth-of-type(1) h4:before {
  content: "\f000";
}
/* line 110, ../sass/styles.scss */
.home .feature:nth-of-type(2) h4:before {
  content: "\f00a";
}
/* line 113, ../sass/styles.scss */
.home .feature:nth-of-type(3) h4:before {
  content: "\f00e";
}
/* line 116, ../sass/styles.scss */
.home .feature:nth-of-type(4) h4:before {
  content: "\f01e";
}

/* line 122, ../sass/styles.scss */
.page {
  padding-top: 1.5625em;
  padding-bottom: 1.5625em;
}
/* line 128, ../sass/styles.scss */
.page .service-list .service {
  position: relative;
  padding-left: 9.375em;
}
/* line 131, ../sass/styles.scss */
.page .service-list .service:before {
  content: '';
  display: inline-block;
  padding: 0.3125em;
  position: absolute;
  left: -0.125em;
  top: -0.125em;
  font-family: "FoundationIcons";
  color: #d9d6d3;
  font-size: 6.875em;
}
/* line 142, ../sass/styles.scss */
.page .service-list .service a {
  font-weight: bold;
  color: #473016;
}
/* line 146, ../sass/styles.scss */
.page .service-list .service h4 {
  padding-bottom: 1.25em;
  border-bottom: 0.1875em solid #d9d6d3;
}
/* line 152, ../sass/styles.scss */
.page .service-list .row:nth-child(1) .service:nth-child(1):before {
  content: "\f021";
}
/* line 155, ../sass/styles.scss */
.page .service-list .row:nth-child(1) .service:nth-child(2):before {
  content: "\f022";
}
/* line 160, ../sass/styles.scss */
.page .service-list .row:nth-child(2) .service:nth-child(1):before {
  content: "\f026";
}
/* line 163, ../sass/styles.scss */
.page .service-list .row:nth-child(2) .service:nth-child(2):before {
  content: "\f028";
}
/* line 168, ../sass/styles.scss */
.page .service-list .row:nth-child(3) .service:nth-child(1):before {
  content: "\f009";
}
/* line 171, ../sass/styles.scss */
.page .service-list .row:nth-child(3) .service:nth-child(2):before {
  content: "\f00b";
}
/* line 176, ../sass/styles.scss */
.page .service-list .row:nth-child(4) .service:nth-child(1):before {
  content: "\f00f";
}
/* line 179, ../sass/styles.scss */
.page .service-list .row:nth-child(4) .service:nth-child(2):before {
  content: "\f010";
}
/* line 183, ../sass/styles.scss */
.page .service-list .panel {
  color: #4d4d4d;
  margin-top: 1.5625em;
  margin-bottom: 0;
}
/* line 185, ../sass/styles.scss */
.page .service-list .panel p:last-of-type {
  margin-bottom: 0;
}
/* line 192, ../sass/styles.scss */
.page .service-list .panel .button {
  width: 100%;
}

/* line 200, ../sass/styles.scss */
.compare .columns:nth-child(1) .pricing-table {
  border: 3px solid #2a77b3;
}
/* line 203, ../sass/styles.scss */
.compare .columns:nth-child(1) .pricing-table .title {
  background-color: #2a77b3;
  color: #fff;
}
/* line 207, ../sass/styles.scss */
.compare .columns:nth-child(1) .pricing-table .price {
  color: #2a77b3;
  background-color: #91c0e5;
  font-weight: bold;
}
/* line 212, ../sass/styles.scss */
.compare .columns:nth-child(1) .pricing-table .cta-button {
  background-color: #91c0e5;
}
/* line 215, ../sass/styles.scss */
.compare .columns:nth-child(1) .pricing-table .button {
  background-color: #2a77b3;
}
/* line 217, ../sass/styles.scss */
.compare .columns:nth-child(1) .pricing-table .button:hover {
  background-color: #539dd7;
}
/* line 222, ../sass/styles.scss */
.compare .columns:nth-child(2) .pricing-table {
  border: 3px solid #95be60;
}
/* line 225, ../sass/styles.scss */
.compare .columns:nth-child(2) .pricing-table .title {
  background-color: #95be60;
  color: #fff;
}
/* line 229, ../sass/styles.scss */
.compare .columns:nth-child(2) .pricing-table .price {
  color: #95be60;
  background-color: #ddeacd;
  font-weight: bold;
}
/* line 234, ../sass/styles.scss */
.compare .columns:nth-child(2) .pricing-table .cta-button {
  background-color: #ddeacd;
}
/* line 237, ../sass/styles.scss */
.compare .columns:nth-child(2) .pricing-table .button {
  background-color: #95be60;
}
/* line 239, ../sass/styles.scss */
.compare .columns:nth-child(2) .pricing-table .button:hover {
  background-color: #b9d496;
}
/* line 244, ../sass/styles.scss */
.compare .columns:nth-child(3) .pricing-table {
  border: 3px solid #f2c265;
}
/* line 247, ../sass/styles.scss */
.compare .columns:nth-child(3) .pricing-table .title {
  background-color: #f2c265;
  color: #fff;
}
/* line 251, ../sass/styles.scss */
.compare .columns:nth-child(3) .pricing-table .price {
  color: #f2c265;
  background-color: #fefaf2;
  font-weight: bold;
}
/* line 256, ../sass/styles.scss */
.compare .columns:nth-child(3) .pricing-table .cta-button {
  background-color: #fefaf2;
}
/* line 259, ../sass/styles.scss */
.compare .columns:nth-child(3) .pricing-table .button {
  background-color: #f2c265;
}
/* line 261, ../sass/styles.scss */
.compare .columns:nth-child(3) .pricing-table .button:hover {
  background-color: #f8deac;
}

/* line 276, ../sass/styles.scss */
.call-us {
  margin-top: 10px;
}
/* line 278, ../sass/styles.scss */
.call-us li {
  list-style: none;
  position: relative;
  margin-bottom: 10px;
}
/* line 282, ../sass/styles.scss */
.call-us li:before {
  font-family: "FoundationIcons";
  font-size: 1.5em;
  position: absolute;
  width: 18px;
  height: 18px;
  left: -30px;
  top: -5px;
}
/* line 292, ../sass/styles.scss */
.call-us .phone:before {
  content: "\f011";
}
/* line 295, ../sass/styles.scss */
.call-us .email:before {
  content: "\f007";
}

/* line 300, ../sass/styles.scss */
.title-section {
  margin-bottom: 0.875em;
  padding-bottom: 0.875em;
  border-bottom: 0.1875em solid #e6e6e6;
}

/* line 306, ../sass/styles.scss */
.title-section-secondary, .home .feature h4, .about .story > .columns > .row h4 {
  margin-bottom: 0.875em;
  padding-bottom: 0.875em;
  border-bottom: 0.1875em solid #d9b183;
}

/* line 312, ../sass/styles.scss */
.footer {
  margin-top: 1.5625em;
}
/* line 314, ../sass/styles.scss */
.footer a {
  color: #473016;
}
/* line 318, ../sass/styles.scss */
.footer .footnav ul {
  margin: 0.3125em 0 0 0;
}
/* line 321, ../sass/styles.scss */
.footer .footnav li {
  margin-left: 0;
  margin-right: 0.9375em;
}
/* line 326, ../sass/styles.scss */
.footer .footnav a:hover {
  text-decoration: underline;
}
/* line 334, ../sass/styles.scss */
.footer .social ul {
  float: right;
}
/* line 338, ../sass/styles.scss */
.footer .social li a {
  display: inline-block;
  height: 32px;
  width: 32px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 347, ../sass/styles.scss */
.footer .social li.facebook a {
  background-position: 0 -96px;
}
/* line 59, D:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.footer .social li.facebook a:hover, .footer .social li.facebook a.facebook-hover {
  background-position: 0 -64px;
}
/* line 349, ../sass/styles.scss */
.footer .social li.facebook a:hover {
  background-position: 0 -64px;
}
/* line 353, ../sass/styles.scss */
.footer .social li.twitter a {
  background-position: 0 -224px;
}
/* line 59, D:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.footer .social li.twitter a:hover, .footer .social li.twitter a.twitter-hover {
  background-position: 0 -192px;
}
/* line 355, ../sass/styles.scss */
.footer .social li.twitter a:hover {
  background-position: 0 -192px;
}
/* line 359, ../sass/styles.scss */
.footer .social li.linkedin a {
  background-position: 0 -160px;
}
/* line 59, D:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.footer .social li.linkedin a:hover, .footer .social li.linkedin a.linkedin-hover {
  background-position: 0 -128px;
}
/* line 361, ../sass/styles.scss */
.footer .social li.linkedin a:hover {
  background-position: 0 -128px;
}
/* line 365, ../sass/styles.scss */
.footer .social li.dribbble a {
  background-position: 0 -32px;
}
/* line 59, D:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.footer .social li.dribbble a:hover, .footer .social li.dribbble a.dribbble-hover {
  background-position: 0 0;
}
/* line 367, ../sass/styles.scss */
.footer .social li.dribbble a:hover {
  background-position: 0 0;
}

@media only screen and (max-width: 48em) {
  /* line 376, ../sass/styles.scss */
  .footer {
    text-align: center;
  }
  /* line 378, ../sass/styles.scss */
  .footer .footnav, .footer .social {
    margin-bottom: 20px;
  }
  /* line 380, ../sass/styles.scss */
  .footer .footnav ul, .footer .social ul {
    float: none;
  }
  /* line 383, ../sass/styles.scss */
  .footer .footnav li, .footer .social li {
    display: inline-block;
    float: none;
    margin-left: 10px;
    margin-right: 10px;
  }
}
